*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 253, 253, 0.918);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 220px;
}

.instagram-phone img{
    height: 90rem;
}

.inst-continue{
    display: flex;
    align-items: center; /*orizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-foto{
    border-radius: 50%;
}

.profile-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    overflow: hidden;
}

.profile-foto img{
    height: 7rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: bolder;
    width: 220px;
    text-align: center;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
    font-weight: bolder;
   
}

.not-acount {
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
    font-weight: bolder;
}

/* media queries */

@media ( max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media ( max-width: 650px){
    .instagram-wrapper {
        width: 90%;
    }

    body{
        background-color: #ffffff;
    }

    .instagram-phone {
        display: none;
    }

    .inst-continue{
        width: 100%;
    }
    .group{
        border: 1px solid transparent;
    }
}

